//--------------------------------------------
// Site Header
//--------------------------------------------
.site-header{
  position: relative;
  display: flex;
  align-items: center;
  height: 3.5em;
  background-color: $color-white;

  @media (min-width: $mq-med) {
    height: 5.5em;
  }

  &__logo{
    color: $color-grey;
  }

  &__logo svg {
    max-width: 10em;
  }

  &__logo-type {
    display: flex;
    align-items: center;
    font-size: 0.85em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;

    i {
      font-size: 1.25em;
      padding-right: 0.5em;
    }
  }
}
