//--------------------------------------------
// Site Header
//--------------------------------------------
.site-header{
  position: relative;
  display: flex;
  align-items: center;
  height: 3.5em;
  background-color: $color-white;

  @media (min-width: $mq-med) {
    height: 5.5em;
  }

  &__logo{
    color: $color-grey;
  }

  &__logo svg {
    max-width: 10em;
  }
}
