{{> head page_title='Location Finder | Using Google Maps API for a storefinder search'}}
<!-- Header -->
{{> header}}

<main role="main">

{{> search}}
{{> results}}

</main>

<!-- Footer -->
{{> footer}}
