<section class="results-info pad-sm">
  <div class="grid-sm">
    <div id="js-results-notice"></div>
  </div>
</section>

<section class="results">
  <div class="grid-sm">
    <div id="js-search-results"></div>

    <article id="js-results-none" class="results-none is-hidden">
      <div class="results-none__main">
        <h3 class="results-none__title">Sorry</h3>
        <p class="results-none__text">There are no locations near your search.</p>
      </div>
    </article>
  </div>
</section>
