<section class="mast">
  <div class="grid-sm">
    <header class="mast__header">
      <h1 class="mast__title">Your Mum's Branch and ATM Locations</h1>
      <p class="mast__text">Enter your city or zip code to find locations near you.</p>
    </header>
    <div class="mast__search">
      <form id="js-locator-form" class="" action="">
        <div class="input-group has-btn">
          <input id="js-search-input" class="input-group__input" name="s" type="text" placeholder="Search for Branch Locations">
          <button id="js-search-btn" class="input-group__btn btn" type="submit" aria-label="Submit" title="Submit">
              Search
          </button>
        </div>
      </form>
    </div>
  </div>
</section>
